.container {
    display: grid;
    grid-template-rows: 0.5fr 6fr 1.5fr;
    width: 100vw;
    height: 100vh;
}

.header {
    background-color: azure;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.content {
    background-color: rgb(173, 173, 173);
}

.footer {
    background-color: rgb(3, 85, 122);
}
